<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/scheme/Scheme"
			class = "org.xtext.example.scheme.scheme.SchemePackage"
			genModel = "model/generated/Scheme.genmodel" />
	</extension>
</plugin>
